INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_BUSINESS_ACCOUNT_ID=
FACEBOOK_PAGE_ID=
INSTAGRAM_LABEL=TuCuervo

INSTAGRAM_SECONDARY_ACCESS_TOKEN=
INSTAGRAM_SECONDARY_BUSINESS_ACCOUNT_ID=
INSTAGRAM_SECONDARY_PAGE_ID=
INSTAGRAM_SECONDARY_LABEL=tucuervo.png
